@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@300;600&display=swap");

:root {
  --back-black: #272727;
  --back-blue: #0793f3;
  --back-gray: #d9d9d9;
  --back-darker-gray: #535353;
  --back-body: #ededec;
  --color-black: #535353;
  --color-white: #ffffff;
  --color-gray: #c2c2c2;
  --body-p: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2424244d;
  z-index: 100;
  backdrop-filter: blur(2px);
  display: none; /* Inicialmente oculto */
}

.nav__logo-menu {
  margin-bottom: 40px;
}

.side-menu .banner-top-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.side-menu {
  position: fixed;
  padding: 80px 28px;
  top: 0;
  left: -203px; /* Oculto inicialmente */
  width: 203px;
  height: 100%;
  background-color: #ededec;
  z-index: 101;
  /* overflow-y: auto; */
  transition: left 0.3s; /* Animação fluida */
}

.side-menu ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  margin-bottom: 80px;
}

.side-menu ul li {
  margin-bottom: 30px;
}

.side-menu ul li a {
  color: var(--color-black);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 123.28%;
  text-decoration: none;
}

.event {
  color: var(--color-black);
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 123.28%;
  text-decoration: none;
}

.divider-menu {
  background: var(--back-black);
  height: 3px;
}

.header__banner-top {
  background-color: var(--back-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  width: 100vw;
}

.header__banner-top > span {
  background-color: var(--back-blue);
  color: var(--color-white);
  border-radius: 15px;
  font-family: "Sora", sans-serif;
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 126.28%;
  padding: 1px 4px;
  margin-bottom: 4px;
}

.header__banner-top > p {
  color: var(--color-white);
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 126.28%;
}

nav {
  display: flex;
  padding: 1rem 2rem;
  column-gap: 70px;
  align-items: center;
}

.nav__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav__logo img {
  background-color: var(--back-black);
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.nav__text-site {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 92%;
  margin-bottom: 2px;
}

.nav__dotcom {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 92%;
}

.nav__text-career {
  color: var(--color-white);
  font-size: 0.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 92%;
  background-color: var(--back-darker-gray);
  padding: 2px 2px;
  text-align: center;
}

.header__banner-bellow-nav {
  background-color: var(--back-blue);
  margin-bottom: 10px;
}

.header__banner-bellow-nav h3 {
  color: var(--color-white);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 102.78%;
  padding: 10px 16px;
}

.header__banner-first-1000 {
  display: flex;
  align-items: center;
  background-color: var(--back-black);
  padding: 5px;
  gap: 5px;
  margin: 0 var(--body-p);
  max-width: 230px;
  margin-bottom: 1rem;
}

.header__banner-first-1000 p {
  color: var(--color-white);
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 77.28%;
}

.header__banner-first-1000 span {
  font-weight: 700;
}

header > h1 {
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 600;
  line-height: 37.814px;
  padding: 0 var(--body-p);
  max-width: 350px;
  margin-bottom: 1rem;
}

header > p {
  padding: 0 var(--body-p);
  color: var(--color-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 123.28%;
  margin-bottom: 2rem;
}

.header__testimonials {
  margin-bottom: 65px;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: 20px;
  padding: 0 var(--body-p);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.header__testimonials::-webkit-scrollbar {
  display: none;
}

.header__testimonial {
  flex: 0 0 288px;
  border-radius: 4px;
}
